.drawer {
    z-index: 1000;
}

.drawer-container {
    .MuiPaper-root {
        background-image: radial-gradient(ellipse at 50% 100%, hsl(213, 100%, 87%), hsl(0, 0%, 100%)) !important;
    }

    border-right: 2px solid var(--separator-gray) !important;
}

.drawer-header {
    border-bottom: 1px solid var(--separator-gray);
}

.drawer.expanded+.content,
.drawer.collapsed+.content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.drawer.collapsed+.content {
    margin-left: 80px;
}

.content {
    transition: margin-left 0.3s ease-in-out;
}