.drawer {
    z-index: 1000;
}

.drawer-container {
    .MuiPaper-root {
        background: linear-gradient(180deg, #fafbfc 0%, #f6f5f8 100%) !important;
    }

    border-right: 1px solid rgba(123, 31, 162, 0.15) !important;
}

.drawer-header {
    border-bottom: 1px solid rgba(123, 31, 162, 0.15);
}

.drawer.expanded+.content,
.drawer.collapsed+.content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.drawer.collapsed+.content {
    margin-left: 80px;
}

.content {
    transition: margin-left 0.3s ease-in-out;
}

.navigation-menu-item-icon {
    width: 30px;
    margin: 5px;
}