@import '../../../shared.css';

.app-bar {
    margin-bottom: 5px;
    background-color: var(--standard-white);
    box-shadow: none !important;
    /* Remove shadow effect */
}

.tool-bar {
    border-bottom: 1px solid var(--separator-gray);
    /* Single line separation */
    background-color: var(--standard-white);
    /* Ensure background is white */
}

.storm-button {
    background-color: var(--common-blue);
    color: white;
    text-transform: none;
    padding: 5px 20px;
    border-radius: 5px;
    border-right: 1px solid var(--separator-gray);
}

.storm-button:hover {
    background-color: var(--hover-blue);
    /* Define a hover blue color in shared.css */
}

/* Pleasant blue themed styles */
.menu-icon {
    color: var(--common-blue);
    /* Set to pleasant blue */
}

.account-icon {
    color: var(--common-blue);
    /* Set to pleasant blue */
}