:root {
    --pleasant-blue: #57a6ff;
    --light-gray: #D3D3D3;
    --silver: #C0C0C0;
    --dark-gray: #333333;
    --gray: #808080;
    --dim-gray: #696969;
    --standard-white: #FFFFFF;
    --standard-black: #000000;
    --separator-gray: #CCCCCC;
    --common-blue: #0078db;
    --hover-blue: #0078db;
    --dark-blue: #00008B;
    --light-blue: #8dc1fa;
    --button-primary-border-color: #1d7a56;
    --button-primary-color: #46cd99;
    --button-secondary-color: #f8f8f8;
    --button-secondary-border-color: #585757;
    --button-third-color: #f2ff7e;
    --button-third-border-color: #585757;
}

.accordian-title {
    color: var(--common-blue) !important;
    font-weight: bold !important;
    font-size: large !important;
}

.header-title {
    color: var(--common-blue) !important;
    font-style: italic !important;
    font-weight: bold !important;
}

.standard-text-color {
    color: var(--standard-black);
}

.standard-title-color {
    color: var(--dark-blue) !important;
}

.hover-effect:hover {
    color: var(--standard-white) !important;
    border-color: var(--standard-white) !important;
    background-color: var(--hover-blue) !important;
}

.page-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* sharedStyles.css */
.custom-card {
    border: 1px solid var(--separator-gray);
    /* Light grey border */
    box-shadow: none !important;
    /* Remove default shadow */
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2) !important;
    /* Apply shadow on hover */
    border-color: #57a6ff;
    /* Pleasant blue border on hover */
}

.standard-button-primary-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: var(--standard-black) !important;
    background-color: var(--button-primary-color) !important;
    border: 2px solid var(--button-primary-border-color) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.standard-button-primary-button:hover {
    box-shadow: 0 6px 12px var(--button-primary-border-color) !important;
    font-weight: bold !important;
    border-radius: 20px !important;
}

.standard-button-primary-button:disabled {
    color: #A0A0A0;
    /* Muted text */
    background-color: #E5E5E5;
    /* Soft gray background */
    border: 2px solid #C0C0C0;
    /* Lighter border */
    cursor: not-allowed;
    box-shadow: none;
    /* Remove hover effect */
    opacity: 0.6;
    /* Slight transparency */
}

.standard-button-secondary-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: var(--standard-black) !important;
    background-color: var(--button-secondary-color) !important;
    border: 2px solid var(--button-secondary-border-color) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.standard-button-secondary-button:hover {
    box-shadow: 0 6px 12px var(--button-secondary-border-color) !important;
    font-weight: bold !important;
    border-radius: 20px !important;
}

.standard-button-secondary-button:disabled {
    color: #A0A0A0;
    /* Muted text */
    background-color: #E5E5E5;
    /* Soft gray background */
    border: 2px solid #C0C0C0;
    /* Lighter border */
    cursor: not-allowed;
    box-shadow: none;
    /* Remove hover effect */
    opacity: 0.6;
    /* Slight transparency */
}

.standard-button-third-button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: var(--standard-black) !important;
    background-color: var(--button-third-color) !important;
    border: 2px solid var(--button-third-border-color) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.standard-button-third-button:hover {
    box-shadow: 0 6px 12px var(--button-secondary-border-color) !important;
    font-weight: bold !important;
    border-radius: 20px !important;
}

.standard-button-third-button:disabled {
    color: #A0A0A0;
    /* Muted text */
    background-color: #E5E5E5;
    /* Soft gray background */
    border: 2px solid #C0C0C0;
    /* Lighter border */
    cursor: not-allowed;
    box-shadow: none;
    /* Remove hover effect */
    opacity: 0.6;
    /* Slight transparency */
}